@media screen and (max-width:767px) {
	body {
		width: 100%;
	}

	header {
		margin: 1rem 0;

		.container {
			.logo {
				h1 {
					font-size: 2rem;
				}
			}

			.nav {
				display: none;
			}
		}

	}

	.hero {

		.image-hero-1 {
			width: 50%;
		}

		.image-hero-2 {
			width: 50%;
		}

		.hero-conteiner {
			padding: 3rem 1rem;

			.hero-img {
				margin: 0;
			}

			.hero-title {
				width: 100%;

				span {
					font-size: 2rem;
				}

				h1 {
					font-size: 2.5rem;
					margin: 0;
					text-align: center;
					line-height: 130%;

					span {
						font-size: 2.5rem;
					}

					.web {
						font-size: 2.5rem;
					}

					.greeting-title {
						font-size: 2.5rem;
					}

				}
			}

			.hero-img {
				margin-top: 3rem;

				img {
					width: 100%;
				}
			}
		}
	}

	footer {
		.footer-container {
			text-align: center;
			flex-direction: column;

			ul {
				padding: 0;
			}
		}
	}
}